USE [MLSE]
GO
/****** Object:  Table [dbo].[TwitterTrends]    Script Date: 05/10/2019 14:03:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwitterTrends](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Trend] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[WOEID] [int] NULL,
	[Inserted_dt_time] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TwitterTrends] ON
INSERT [dbo].[TwitterTrends] ([ID], [Trend], [Country], [WOEID], [Inserted_dt_time]) VALUES (1, N'#DearMeTenYearsAgo', N'Canada', 23424775, CAST(0x07902BBFF674A43F0B AS DateTime2))
INSERT [dbo].[TwitterTrends] ([ID], [Trend], [Country], [WOEID], [Inserted_dt_time]) VALUES (2, N'Ben Shapiro', N'Canada', 23424775, CAST(0x07902BBFF674A43F0B AS DateTime2))
INSERT [dbo].[TwitterTrends] ([ID], [Trend], [Country], [WOEID], [Inserted_dt_time]) VALUES (3, N'#TangerineHoopsContest', N'Canada', 23424775, CAST(0x07902BBFF674A43F0B AS DateTime2))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[TwitterTrends] OFF
/****** Object:  Default [DF_TwitterTrends_Inserted_dt_time]    Script Date: 05/10/2019 14:03:39 ******/
ALTER TABLE [dbo].[TwitterTrends] ADD  CONSTRAINT [DF_TwitterTrends_Inserted_dt_time]  DEFAULT (getdate()) FOR [Inserted_dt_time]
GO
